/* Styles spécifiques qui ne peuvent pas être remplacés par Tailwind */
.logo-image {
  background-image: url("../src/img/logo_nobg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Images de services - à garder temporairement */
.service1 {
  background-image: url("../public/web.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.service2 {
  background-image: url("../public/mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.service3 {
  background-image: url("../public/site.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Images de processus - à garder temporairement */
.process1 {
  background-image: url("../public/besoins.svg");
}
.process2 {
  background-image: url("../public/planif.svg");
}
.process3 {
  background-image: url("../public/dev.svg");
}
.process4 {
  background-image: url("../public/test.svg");
}
.process5 {
  background-image: url("../public/livraison.svg");
}

.process1,
.process2,
.process3,
.process4,
.process5 {
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
